<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <script type='text/javascript' src='../../bower_components/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/main.js'></script>
  </body>
</html>
